head
    meta(charset="UTF-8")
    title TT
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' href='src/libraries/styles/bootstrap.min.css')
    link(rel='stylesheet' href='src/styles/css/styles.css')
