mixin tabs(src, text, col)
    a.mb-4.block(id=text, onclick='showTabText(this.id)', class=col)
        div.col-12.col-md-6.pl-0
            case text
                when 'iPhone'
                    include ../../images/icons/smartphone.svg
                when 'Windows'
                    include ../../images/logos/windows.svg
                when 'MacOS'
                    include ../../images/icons/macbook.svg
                when 'Android'
                    include ../../images/logos/android.svg
                when 'Linux'
                    include ../../images/logos/linux.svg
        div.col-12.col-md-6.align-self-center.pl-0=text
include ../templates/template-section
    div.row.justify-content-center
        div.block.bg-secondary.border-0.pb-5
            div.py-2.d-flex.justify-content-around.row.justify-content-around
                +tabs('src/images/icons/smartphone.svg', 'iPhone', 'col-4 col-md-3 col-lg-2')
                +tabs('src/images/logos/windows.svg', 'Windows', 'offset-1 offset-lg-0 col-4 col-md-3 col-lg-2')
                +tabs('src/images/icons/macbook.svg', 'MacOS', 'offset-md-1 offset-lg-0 col-4 col-md-3 col-lg-2')
                +tabs('src/images/logos/android.svg', 'Android', 'offset-1 offset-md-0 col-4 col-md-3 col-lg-2')
                +tabs('src/images/logos/linux.svg', 'Linux', 'col-4 col-md-3 col-lg-2')
            div
                p.tabText.pl-3.pt-1#tabText
