include ../templates/template-section
    div.d-flex.justify-content-center.row.px-15px
        div
            a#preloaderButton
                div.text-uppercase.button.row.d-flex.align-items-center
                    div.col-2
                        div.d-none#preloader
                            include ../templates/preloader
                    span.col preloader
        div.col-12.justify-content-center.block.mt-4.d-none#textBlock
            p.mb-0 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, eaque.

