mixin words(word)
    div.col-2=word

include ../templates/template-section
    style.
        .words-section div:nth-child(even) {
            color: #8b80de;
        }
    div.words-section.d-flex.row.justify-content-center.text-center
        +words('lorem')
        +words('hello')
        +words('java')
        +words('hello')
        +words('lorem')
        +words('css')
