include ../templates/template-section
    div.pop-over.row.justify-content-center
        div.col-8.col-lg-4.position-absolute.row
            div.pop-over-box.block.row.d-flex#popoverBox
                a.close-popover#close
                div.col-3.col-md-2.d-flex.align-self-center
                    include ../../images/logos/microsoft-colored.svg
                div.col-9.col-md-10 Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias aliquam, aperiam autem commodi delectus facilis inventore itaque magnam maiores necessitatibus nesciunt obcaecati officia optio quidem saepe sint, sit ut.
        div
        a.col-3.col-md-1#info
                include ../../images/icons/info.svg
