include ../templates/template-section
    div.block-colored.text-center
        div.block-w200px
            span.display-5 1
        div.row
            div.col-6.colored
                span.display-5 2
            div.col-6
            div.offset-6.col-6.colored
                span.display-5 3
