mixin logo(src, text)
    img(src=src alt=text)
    span.text-uppercase=text
include ../templates/template-section
    div.logos-block.d-flex.justify-content-center
        div
            +logo('src/images/logos/apple.png', 'apple')
        div.overflow-block.d-flex
            - for (let i = 0; i < 8; i++)
                div
                    +logo('src/images/logos/android.png', 'android')
