@mixin preloader-animation-delay {
  @for $i from 0 through 7 {
    &:nth-child(#{$i + 1}) {
      animation-delay: #{$i * 125}ms;
    }
  }
}

@mixin block {
  background-color: $color-white;
  padding: 10px 15px;
  border-radius: 7px;
  border: $color-white 2px solid;
}

@mixin scrollbar($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  &::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

