@import 'mixins/mixins';

@font-face {
  font-family: 'Lato';
  src: url('../../fonts/Lato/Lato-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

html {
  font-family: 'Lato', sans-serif;

  body {
    background-color: $color-body-background;
  }

  img {
    width: 100%;
  }

  svg {
    width: 100%;
    height: auto;

    &.selected {
      fill: $color-purple;
    }
  }

  a {
    cursor: pointer;
  }

}

