@import 'variables';
@import 'global';
@import 'timer';


.logos-block {
  div {
    $logos-block-img-width: 10vh;
    margin-right: 25px;
    text-align: center;
    width: $logos-block-img-width;

    img {
      width: $logos-block-img-width;
    }

    &.overflow-block {
      height: auto;
      overflow-x: auto;
      overflow-y: hidden;
      width: auto;
      @include scrollbar(10px, $color-black, $color-grey)
    }
  }
}

.block {
  @include block;

  &.selected {
    box-shadow: 0 0 10px 3px $color-white;
    color: $color-purple !important;
  }

  .tab-text {
    color: $color-white;
    height: 20px;
  }
}

.button {
  @include block;

  &:hover {
    background-color: unset;
  }
}

.preloader {
  animation-duration: 1s;
  animation-iteration-count: 2;
  animation-name: spin;
  animation-timing-function: linear;
  background-color: $color-black;
  border-radius: 60%;
  height: 2px;
  opacity: 0;
  position: absolute;
  width: 2px;
  @keyframes spin {
    0% {
      opacity: 1;
      transform: rotate(0deg) translateX(10px) rotate(0deg) scale(.5);
    }

    25% {
      transform: rotate(90deg) translateX(10px) rotate(90deg) scale(2);
    }

    50% {
      transform: rotate(180deg) translateX(10px) rotate(180deg) scale(3);
    }

    75% {
      transform: rotate(270deg) translateX(10px) rotate(270deg) scale(2);
    }

    100% {
      opacity: 1;
      transform: rotate(360deg) translateX(10px) rotate(360deg) scale(.5);
    }
  }
  @include preloader-animation-delay;
}

.block-colored {
  $width: 200px;
  display: flex;
  height: $width * 2;

  div {
    display: flex;
    height: 100%;

    .colored {
      background-color: $color-pink;
    }

    span {
      margin: auto;
    }
  }

  .row {
    margin-left: 0;
    width: calc(100% - #{$width});

    div {
      height: 50%;
    }
  }

  .block-w200px {
    background-color: $color-green;
    width: $width;
  }
}

.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.px-15px {
  padding: 0 15px;
}

.pop-over {
  .pop-over-box {
    background-color: $color-black;
    border-color: $color-black;
    bottom: calc(-100% + 15px);
    color: $color-pink;
    display: inline-block;
    position: absolute;
    visibility: hidden;

    &::after {
      border-color: $color-black;
      border-style: solid;
      border-width: 10px 10px 0;
      bottom: -10px;
      content: '';
      left: calc(49.5%);
      position: absolute;
      transform: rotate(45deg);
      z-index: 1;
    }

    .close-popover {
      background: $color-white;
      border-radius: 50%;
      content: '';
      height: 30px;
      left: 95%;
      position: absolute;
      top: -5%;
      width: 30px;
      z-index: 1;

      &::before,
      &::after {
        background-color: $color-black;
        content: '';
        height: 3px;
        left: 28%;
        position: absolute;
        top: 45%;
        width: 50%;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }
}
