#timer {
  visibility: hidden;

  div {
    padding: 2px 5px;

    div {
      display: grid;
      align-content: center;
      height: 80px;
      background-color: $color-black;
    }

    span {
      color: $color-pink;

      &:nth-child(1) {
        font-size: x-large;
      }
    }
  }
}
